<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" throwExceptions="true">

  <extensions>
  </extensions>

  <targets>
    <target name="chainsaw" xsi:type="Chainsaw" address="udp://127.0.0.1:7071" />


    <target xsi:type="File"
            name="logfile"
            layout="${longdate} | ${level:uppercase=true} | ${logger:shortName=true} | ${message}"
            fileName="${specialfolder:folder=ApplicationData}/Paclink/Logs/Paclink.log"
            archiveFileName="${specialfolder:folder=ApplicationData}/Paclink/Logs/Paclink.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMddHHmm"
            maxArchiveFiles="7"
            concurrentWrites="true" />

    <target xsi:type="File"
            name="errorlogfile"
            layout="${longdate} | ${level:uppercase=true} | ${logger:shortName=true} | ${message}"
            fileName="${specialfolder:folder=ApplicationData}/Paclink/ErrorLogs/Paclink.log"
            archiveFileName="${specialfolder:folder=ApplicationData}/Paclink/ErrorLogs/Paclink.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMddHHmm"
            maxArchiveFiles="7"
            concurrentWrites="true" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile"/>
    <logger name="*" minlevel="Error" writeTo="errorlogfile"/>
    <logger name="*" minlevel="Trace" writeTo="chainsaw" />
  </rules>

</nlog>
