<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" throwExceptions="true">

  <extensions>
    <add assembly="NLog.Targets.Gelf"/>
  </extensions>

  <targets>
    <target name="chainsaw" xsi:type="Chainsaw" address="udp://127.0.0.1:7071" />

    <target
      xsi:type="gelf"
      name="graylog"
      endpoint="udp://graylog.winlink.org:12202"
      layout="${level:uppercase=true} | ${logger:shortName=true} | ${callsite} | ${message} "
      facility="paclink">
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="graylog"/>
    <logger name="*" minlevel="Trace" writeTo="chainsaw" />
  </rules>

</nlog>
