<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" throwExceptions="true">

  <extensions>
  </extensions>

  <targets>
    <target name="chainsaw" xsi:type="Chainsaw" address="udp://127.0.0.1:7071" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="chainsaw" />
  </rules>

</nlog>
